.chat-box {
  margin: auto;
  width: 40%;
  border: 5px solid white;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  padding-right: 20px;
}

h1 {
  color: black;
  font-size: 210%;
}

textarea {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: lightgray;
}

input {
  margin-top: 5px;
  margin-left: 5px;
  width: 80%;
  height: 25px;
  padding-left: 10px;
}

select{
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: 16%;
  height: 30px;
}