@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

.bg-image{
	z-index: -99;
	width: 100%;
	height: 100%;
	background: url("../img/LoginBG.jpg");
	filter: blur(8px);
	
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.buttons button[type="button"]{
	padding: 10px, 15px;
	cursor: pointer;
	background: #0080c0;
	color: #000;
	width: 20%;
	height: 25%;
	font-size: 20px;
	background-color: white; /* Green */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px solid black;
}

.buttons button[type="button"]:hover{
	cursor: pointer;
	background: blue;
	color: #000;
}

.buttons button[id="Lantern"]{
	transform: translate(125%, 0%);
}

.buttons button[id="Walkie"]{
	transform: translate(175%, 0%);
}

.tables table{
	border-collapse: collapse;
	transform: translate(5%, 0%);
	margin-top: 20px;
	width: 90%;
	height:10px;
	overflow-y:scroll;
  	text-align: center;
}

.tables table td{
		border-bottom: 1px solid #ddd;
	}
.tables table th{
		border-bottom: 1px solid #ddd;
	}
.tables table tr:hover{
	background-color: rgba(230, 230, 230, 0.3);
}