body{
	margin: 0;
	padding: 0;
	background: url("../img/LoginBG.jpg") no-repeat;
	background-size: auto;
	background-position: 50% 0%;
	font-family: Arial, sans-serif;
}

.loginbox{
	width: 350px;
	height: 600px;
	color: #000;
	border-radius: 0px;
	top: 50%;
	left: 82.5%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 120px 10px;
}

.avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -75px;
	left: calc(50% - 75px);
}

.loginbox h1{
	border: none;
	font-size: 30px;
	color: #000;
  	border-radius: 20px;
	margin: 40;
	padding: 0 0 0px;
	text-align: center;
}

.loginbox p{
	margin: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 22px;
	font-weight: bold;	
}

.loginbox input{
	width: 100%;
	margin-bottom: 3%;
}

.loginbox input[type="text"], input[type="password"]{
	margin-left: 0px;
	margin-bottom: 10%;
	padding: 0px 0.5em;
	border: none;
	border-bottom: 0px solid #fff;
	background: #fff;
	outline: none;
	height: 40px;
	color: #000000;
	text-align: left;
	border-radius: 5px;
	font-size: 15px;
}

.loginbox input[type="submit"]{
	width: 75%;
	margin-top: 20%;
	margin-left: 15%;
	border: solid;
	border-width: 2px;
	text-decoration: none;
	outline: none;
	height: 40px;
	background: #303030;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #f16101;
	color: #000;
}

.loginbox a{
	margin-left: 28%;
	text-decoration: underline;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
}

.loginbox a:hover{
	color: #ffc107;
}
	

.loginAlicante {
	width: 6vw;
	height: 8vw;
	position: absolute;
	bottom: 0%;
	margin-left: 2%;
	margin-bottom: 2%;
}
