body{
	margin: 0;
	padding: 0;
	background: url("../img/LoginBG.jpg") no-repeat;
	background-size: auto;
	background-position: 50% 0%;
	font-family: Arial, sans-serif;
}

.loginbox{
	width: 350px;
	height: 600px;
	color: #000;
	border-radius: 0px;
	top: 50%;
	left: 82.5%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 10% 10px;
}

.avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -75px;
	left: calc(50% - 75px);
}

.loginbox input{
	width: 100%;
	margin-bottom: 3%;
}


.loginbox input[type="text"], input[type="password"]{
	padding: 0px 0.5em;
	border: 2px solid #626262;
	background: Transparent;
	outline: none;
	height: 40px;
	text-align: left;
	font-size: 15px;
	color: white;
}

.loginbox input[type="text"]{
	margin-bottom: 10%;
}

.loginbox input[type="text"]::placeholder, input[type="password"]::placeholder{
	color: #e6e6e6;
}

.loginbox input[type="submit"]{
	width: 75%;
	margin-top: 20%;
	margin-left: 15%;
	border: solid;
	border-width: 2px;
	text-decoration: none;
	outline: none;
	height: 40px;
	background: #303030;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #f16101;
	color: #000;
}

.loginbox a{
	text-decoration: underline;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
}

.loginbox a:hover{
	color: #ffc107;
}

.descriptionbox {
	width: 50%;
	height: 100%;
	background: Transparent;
	color: white;
	position: absolute;
}

.descriptionbox h1{
	border: none;
	font-size: 30px;
	color: #ffffff;
	padding: 0 3% 0;
	text-align: left;
	font-size: 72px;
}

.desc{
	width: 90%;
	height: 60%;
	background: Transparent;
	color: white;;
	position: absolute;
}

.calendarIcon {
	width: 3vw;
	height: 3vw;
	margin-left: 15%;
	margin-right: 2%;
	margin-top: 15%;
	float: left;
}

.fireExtIcon {
	width: 2vw;
	height: 3vw;
	margin-left: 17.2%;
	margin-right: 2%;
	margin-top: 5%;
	float: left;
}

.chatIcon {
	width: 3vw;
	height: 3vw;
	margin-left: 15%;
	margin-right: 2%;
	margin-top: 5%;
	float: left;
}

.desc h2{
	font-size: 18px;
}

.desc h2[name="Calendario"]{
	margin-top: 18%;
}

.desc h2[name="Extintor"]{
	margin-top: 8%;
	margin-left: 20%;
}

.desc h2[name="Chat"]{
	margin-top: 8%;
}
	

.loginAlicante {
	width: 6vw;
	height: 8vw;
	position: absolute;
	bottom: 0%;
	margin-left: 2%;
	margin-bottom: 2%;
}
