body{
	margin: 0;
	padding: 0;
	background-color: rgb(79, 0, 0);
	font-family: OCR A Std, monospace;
}

.profilebox{
	z-index: 10;
	width: 250px;
	height: 100%;
	background: #c0c0c0;
	color: #000;
	top: 100%;
	left: 100%;
	position: absolute;
	transform: translate(-100%, -100%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 200px;
	height: 200px;
	border: 2px solid #808080;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: calc(50% - 100px);
}

.profilebox hr{
	border: 1px solid #808080;
	transform: translate(0px, 250px);
}

.profilebox input{
	width: 200px;
	margin-bottom: 100px;
	transform: translate(-3%, 350px);
	border: none;
	text-decoration: none;
	outline: none;
	height: 40px;
	background: #808080;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.profilebox input[value="Mi perfil"], input[value="Mensajes"]{
	background: #808080;
	color: #fff;
}

.profilebox input[value="Salir"]{
	margin-bottom: 50px;
	transform: translate(-3%, 500px);
	background: #fb2525;
	color: #fff;
}

.profilebox input:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.selectbox {
	width: calc(100% - 250px);
	height: 100%;
	position: absolute;
}

.selectbox input{
	width: 30vw;
	max-width: 500px;
	height: 30vw;
	max-height: 500px;
	margin-top: 15%;
	margin-left: 200px;
	position: relative;
	
	border-radius: 2vw;
	color: transparent;
	box-shadow: 0 10px #330000;
}

.selectbox input:hover{
	cursor: pointer;
}

.selectbox input:active{
	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.selectbox input[name="HORARIO"]{
	background: #c0c0c0 url(../img/calendario.png) 50% 30% no-repeat;
	background-size: 100% 100%;
}

.selectbox input[name="EQUIPO"]{
	background: #c0c0c0 url(../img/equipo.png) 50% 30% no-repeat;
	background-size: 100% 100%;
}