@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}

.bg-image{
	filter: blur(8px);
}

.cardBox{
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.cardBox .card{
	margin: auto;
	position: relative;
	max-width: 800px;
	height: 550px;
	top: 10%;
	background: #fff;
	color: #262626;
	
	border: 2px solid;
	border-image: linear-gradient(to bottom, #0099cc, black, #0099cc);
	border-image-slice: 1;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.cardBox .card .perfil{
	padding: 40px 40px 0;
	display: flex;
	justify-content: center;
	align-items: center
}

.cardBox .card .perfil img{
	max-width: 170px;
	padding-right: 20px;
	border-right: 1px solid;
	border-image: linear-gradient(to bottom, transparent, #262626, transparent);
	border-image-slice: 1;
}

.cardBox .card .perfil li{
	list-style: none;
}

.cardBox .card .perfil h2{
	margin: 0;
	padding: 20px;
}

.cardBox .card .infoBottom{
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px 40px;
	box-sizing: border-box;
	background: #262626;
	border-top: 10px solid #fc2827;
}

.cardBox .card .infoBottom button[type="submit"]{
	margin: 0 -200px;
	position: relative;
	float: right;
	width: 120px;
	height: 50px;
	
	border-radius: 18px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #303030;
	
	border: 3px solid #303030;
	background: white;
}

.cardBox .card .infoBottom li{
	list-style: none;
	color: #fff;
	padding: 8px 0;
	font-size: 18px;
	text-transform: uppercase;
	
}

.cardBox .card .infoBottom li span:nth-child(1){
	width: 30px;
	display: inline-block;
	
}

@media (max-width: 1000px){
	.cardBox .card{
		margin: 0 50px;
	}
}

@media (max-width: 640px){
	.cardBox .card .perfil{
		padding: 10px 10px 0;
		display: block;
	}
	
	.cardBox .card .perfil img{
		width: 100px;
		padding : 10px;
		border: 1px solid;
		border-image: linear-gradient(45deg, transparent, transparent, #262626, transparent, transparent);
		border-image-slice: 1;
	}
	
	.cardBox .card .perfil h2{
		margin: 0;
		padding: 10px;
		font-size: 18px;
	}
	
	.cardBox .card .infoBottom li{
		list-style: none;
		color: #fff;
		padding: 8px 0;
		font-size: 14px;
		text-transform: uppercase;
		
	}
	
	.cardBox .card .infoBottom button[type="submit"]{
			margin: 50px 0px;
	}
}