body{
	margin: 0;
	padding: 0;
	background: url("../img/LoginBG.jpg") no-repeat;
	background-size: auto;
	background-position: 50% 0%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1{
	border: dotted;
  	border-radius: 20px;
	margin: 40;
	padding: 0px 0px;
	text-align: left;
	font-size: 50px;
	color: #fff;
	margin-top: 0%;
}

.loginbox{
	width: 510px;
	height: 750px;
	background: #fff;
	color: #000;
	border-radius: 0px;
	box-shadow: 0px 0px 20px 20px #100000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: solid;
	position: absolute;
	top: 50px;
	left: calc(50% - 75px);
}

.loginbox input{
	width: 90%;
	margin-bottom: 30px;
}

.loginbox input[type="text"]{
	margin-left: 0px;
	padding: 0.1em;
	border: none;
	border-bottom: 0px solid #fff;
	background: #c0c0c0;
	outline: none;
	height: 40px;
	color: #000000;
	text-align: left;
	border-radius: 5px;
	font-size: 15px;
}

.loginbox h1[type="Mainletters"]{
	border: none;
	font-size: 15px;
	color: #000;
	margin-top: 35%;
}

.loginbox h1[type="letters"]{
	border: none;
	font-size: 15px;
	color: #000;
	margin-top: 5%;
}

.loginbox button[type="passButton"]{
	width: 40%;
	margin-left: 45%;
	margin-top: 15%;
	border: none;
	text-decoration: none;
	outline: none;
	height: 30px;
	background: #fb8784;
	color: #000000;
	font-size: 18px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, 0%);
}

.loginbox textButton{
	width: 40%;
	margin-left: 40%;
	margin-top: -5%;
	border: none;
	text-decoration: none;
	outline: none;
	height: 30px;
	background: #c0c0c0;
	color: #000000;
	font-size: 18px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-40%, -40%);
	text-align: center;
}

.loginbox button[type="passButton"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox button:active{
	display: none;
}

.loginbox iconButton:active{
	display: none;
}

.loginbox button[type="button"]{
	width: 40%;
	margin-left: 45%;
	margin-top: 50%;
	border: none;
	text-decoration: none;
	outline: none;
	height: 20px;
	background: #fb8784;
	color: #000000;
	font-size: 14px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, 0%);
	text-align: center;
}

.loginbox button[type="button"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox iconButton[type="button"]{
	width: 40%;
	margin-left: 45%;
	margin-top: 25%;
	border: none;
	text-decoration: none;
	outline: none;
	height: 20px;
	background: #fb8784;
	color: #000000;
	font-size: 14px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, 0%);
	text-align: center;
}

.loginbox iconButton[type="button"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	margin-top: 30%;
	margin-left: 2%;
	text-decoration: underline;
	font-size: 12px;
	line-height: 20px;
	color: #808080;
	position: absolute;
	
}

.loginbox a:hover{
	color: #ffc107;

}
	
