body{
	margin: 0;
	padding: 0;
	background: url("../img/LoginBG.jpg");
	background-size: cover;
	background-position: relative;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.loginbox{
	width: 310px;
	height: 510px;
	background: #fff;
	color: #000;
	border-radius: 0px;
	box-shadow: 0px 0px 20px 20px #100000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 150px;
	height: 150px;
	box-shadow: -1px -5px 10px 5px #100000;
	border-radius: 50%;
	position: absolute;
	top: -75px;
	left: calc(50% - 75px);
}

.loginbox h1{
	border: none;
	font-size: 30px;
	color: #000;
}

.loginbox p{
	margin: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 22px;
	font-weight: bold;	
}

.loginbox input{
	width: 90%;
	margin-bottom: 30px;
}

.loginbox input[type="text"], input[type="password"]{
	margin-left: 0px;
	padding: 0.1em;
	border: none;
	border-bottom: 0px solid #fff;
	background: #c0c0c0;
	outline: none;
	height: 40px;
	color: #000000;
	text-align: left;
	border-radius: 5px;
	font-size: 15px;
}

.loginbox input[type="submit"]{
	width: 75%;
	margin-left: 12%;
	border: none;
	text-decoration: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	margin-left: 2%;
	text-decoration: underline;
	font-size: 12px;
	line-height: 20px;
	color: #808080;
}

.loginbox a:hover{
	color: #ffc107;
}
	
