<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/addUser.css}" href="../static/css/addUser.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<head th:replace="/fragments/toolbar.html :: head"></head>
<body>
	<nav th:replace="/fragments/toolbar.html :: body"></nav>
	<div>
		<form class="smallform" th:action="@{/admin/addToolToDB}" method="POST">
			<ul>
				<li>
					<input type="text" name="type" class="placeholder" required placeholder="Nombre herramienta: "/>
				</li>
				<li>
					<select id="dropdownTool" name="user_id">
						<option th:each="user: ${users}" th:text="${user.name}" th:value="${user.id}">usuario</option>
	        		</select>
				</li>
			</ul>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit" class="">Añadir herramienta</button>
		</form>
	</div>
</body>
</html>