<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="exit">
		<form th:action = "@{/logout}" method="POST">
			<button type="submit">
				<a>Salir<i class="fa fa-sign-out" aria-hidden="true"></i></a>
			</button>
		</form>
	</div>
	<div>
		<form class="smallform" th:action="@{/adduser}" method="POST">
			<ul>
				<li>
					<input type="text" name="login" class="placeholder" required placeholder="Usuario: "/>
				</li>
				<li>
					<input type="password" name="password" class="placeholder" required placeholder="Contraseña: "/>
				</li>
				<li>
					<input type="text" name="name" class="placeholder" required placeholder="Nombre y Apellidos: "/>
				</li>
				<li>
					<input type="text" name="idfire" class="placeholder" required placeholder="ID de Bombero: "/>
				</li>
				<select name="dropdownTurno">
			    	<option th:each="turno: ${turnos}" th:text="${turno.name}" value="${turno.id}">Turno X</option>
        		 </select>
			</ul>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit" class="">Añadir Bombero</button>
		</form>
	</div>
</body>
</html>
