<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/admin.css}" href="../static/css/admin.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<head th:replace="/fragments/toolbar.html :: head"></head>
<body>
	<nav th:replace="/fragments/toolbar.html :: body"></nav>
	<div>
		<h1>Administración</h1>
		<form th:action = "@{/admin/addUser}" method="get">
			<button type="submit"><a>Añadir usuario</a></button>
		</form>
		<form th:action = "@{/admin/delUser}" method="get">
			<button type="submit"><a>Eliminar usuario</a></button>
		</form>
		<form th:action = "@{/admin/addTool}" method="get">
			<button type="submit"><a>Añadir herramienta</a></button>
		</form>
		<form th:action = "@{/admin/assignTool}" method="get">
			<button type="submit"><a>Asignar herramienta</a></button>
		</form>
		<form th:action = "@{/admin/manageChanges}" method="get">
			<button type="submit"><a>Peticiones de cambios</a></button>
		</form>
	</div>
</body>
</html>
