<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/calendarioStyle.css}" href="../static/css/calendarioStyle.css" type="text/css"/>
</head>
<body>
	<div class="loginbox">
		<img src="../img/person.jpg" class="avatar">
		<button type="button">Cambiar</button>
		<h1>Usuario:</h1>
		<a href="/menu">¿Has olvidado tu contraseña?</a><br>
		
	</div>
</body>
</html>
