<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/choose.css}" href="../static/css/choose.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
 <script>
      function change(value){
      document.getElementsByName("role")[0].value= value;
      }

   </script>
<body>
	<div class="bg-image"></div>
	<div class="choose">
		<h1>Elige el rol a desempeñar:</h1>
		<form th:action = "@{/admin/} + ${user.id} + '/chooseRole'" method="post">	
			<input type="hidden" name="role"></input>
			<button type="submit" id="usuario" onclick="change('USER')">Usuario</button>
			<button type="submit" id="admin" onclick="change('ADMIN')">Administrador</button>
		</form>
	</div>
</body>
</html>
