<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="exit">
		<form th:action = "@{/logout}" method="POST">
			<button type="submit">
				<a>Salir<i class="fa fa-sign-out" aria-hidden="true"></i></a>
			</button>
		</form>
	</div>
	<div>
		<form class="smallform" th:action="@{/admin/delUserFromDB}" method="POST">
			<ul>
				<li>
					<input type="text" name="id" class="placeholder" required placeholder="Id del bombero: "/>
				</li>
			</ul>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit" class="">Borrar Bombero</button>
		</form>
	</div>
</body>
</html>