<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter Space</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css" type="text/css"/>
</head>
<body>
	<div class="loginbox">
		<img src="../img/loginiconHelmet.jpg" class="avatar">
		<h1>Iniciar Sesión</h1>
		<form>
			<p>Usuario</p>
			<input type="text" name="" placeholder="Introduce tu nombre de usuario">
			<p>Contraseña</p>
			<input type="password" name="" placeholder="Introduce tu contraseña">
			<input type="submit" name="" placeholder="Iniciar"><br>
			<a href="/menu">¿Has olvidado tu contraseña?</a><br>
		</form>
		
	</div>
	<div>
		<img src="../img/alicante.png" class="loginAlicante">
	</div>
</body>
</html>
