<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter Space</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
</head>
<body>
	<div class="bg-image"></div>
	<div class="title"><h1>Fightfighter Space</h1></div>
	<div class="container">
		<div class="left">
			<div class="infoBox">
				<ul>
					<li>
						<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
						<span>Consulta y gestiona tus turnos</span>
					</li>
					<li>
						<span><i class="fa fa-fire-extinguisher" aria-hidden="true"></i></span>
						<span>Infórmate sobre el equipo</span>
					</li>
					<li>
						<span><i class="fa fa-comments" aria-hidden="true"></i></span>
						<span>Habla con tus compañeros del parque</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="formBox">
				<form>
					<div class="inputBox">
						<input type="text" id="idBombero" required="">
						<label>ID Bombero</label>
					</div>
					<div class="inputBox">
						<input type="password" id="contraseñaBombero" required="">
						<label>Contraseña</label>
					</div>
						<a href="#">¿Has olvidado tu contraseña?</a><br>
						<input type="submit" id="botonLogin" value="Iniciar Sesión" onclick="location.href='/inicio';"> <!-- El controlador está en login.js -->
						
				</form>
			</div>
		</div>
	</div>
	
	<div class="logoAlicante">
			<a href="http://www.diputacionalicante.es/">
				<img src="../img/alicante.png" class="loginAlicante">
			</a>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	
</body>
</html>
