<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/delUser.css}" href="../static/css/delUser.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<head th:replace="/fragments/toolbar.html :: head"></head>
<body>
	<nav th:replace="/fragments/toolbar.html :: body"></nav>
	<div>
		<form class="smallform" th:action="@{/admin/resolveChange}" method="POST">
		<ul>
			<h2>Cambios propuestos:</h2>
			<li th:each="cambio: ${session.cambiosPropuestos}">
				<b th:text="${cambio.user1.name}" />
				<i> (Día </i>
				<b th:text="${cambio.dia1}" />
				<i>) quiere cambiar con </i>
				<b th:text="${cambio.user2.name}"/>
				<i> (Día </i>
				<b th:text="${cambio.dia2}" />
				<input type="hidden" th:name="cambio_id" th:value="${cambio.id}" />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<i>) </i>
				<button name="acceptButton" type="submit" class="">Aceptar</button>
				<button name="denyButton" type="submit" class="">Denegar</button>
			</li>
		</ul>
		</form>
		<ul>
			<h2>Cambios aceptados:</h2>
			<li th:each="cambio: ${session.cambiosAceptados}">
				<b th:text="${cambio.user1.name}" />
				<i> (Día </i>
				<b th:text="${cambio.dia1}" />
				<i>) quiere cambiar con </i>
				<b th:text="${cambio.user2.name}"/>
				<i> (Día </i>
				<b th:text="${cambio.dia2}" />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<i>) </i>
			</li>
		</ul>
		<ul>
			<h2>Cambios denegados:</h2>
			<li th:each="cambio: ${session.cambiosDenegados}">
				<b th:text="${cambio.user1.name}" />
				<i> (Día </i>
				<b th:text="${cambio.dia1}" />
				<i>) quiere cambiar con </i>
				<b th:text="${cambio.user2.name}"/>
				<i> (Día </i>
				<b th:text="${cambio.dia2}" />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<i>) </i>
			</li>
		</ul>
	</div>
</body>
</html>