<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter Space</title>
	<link rel="stylesheet" th:href="@{/css/menu.css}" href="../static/css/menu.css" type="text/css"/>
</head>
<body>
	<a href="http://www.diputacionalicante.es/">
		<img src="../img/doorIcon.png" class="exitIcon">
	</a>
	<div class="optionsbox">
	
		<div class="perfilbox">
			<a href="https://www.youtube.com/?hl=es&gl=ES">
				<img src="../img/person.jpg" class="avatar">
				<h1>Alejandro Villar Rubio</h1>
			</a>
		</div>
		
		<div class="mensajesbox">
			<a>
				<img src="../img/mensajesIcon.png" class="mensajesIcon">
				<h1>Mensajes</h1>
			</a>
		</div>
		<div class="horariobox">
			<a>
				<img src="../img/calendarIcon.png" class="calendarioIcon">
				<h1>Horario</h1>
			</a>
		</div>
		<div class="equipobox">
			<a>
				<img src="../img/fire_extinguisher.png" class="equipoIcon">	
				<h1>Equipo</h1>
			</a>
		</div>
		<!--<div>			
			<a>
				<input type="submit" name="" value="Salir">
			</a>
		</div>
		-->
	</div>
</body>
</html>