<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter space (Ususario)</title>
	<link rel="stylesheet" th:href="@{/css/perfil.css}" href="../static/css/perfil.css" type="text/css"/>
</head>
<body>
	<div class="loginbox">
		<img src="../img/person.jpg" class="avatar"><br>
		<iconButton type="button" size="30">Cambiar imagen de perfil</iconButton><br>
		<h1 type="Mainletters">Nombre:</h1>
		<textButton type="button" size="30">Alberto</textButton>
		<h1 type="letters">Identificador:</h1>
		<textButton type="button" size="30">12413</textButton>
		<h1 type="letters">¿Conductor?</h1>
		<textButton type="button" size="30">SI</textButton>
		<button type="passButton" size="30">Cambiar contraseña</button><br>
		<button type="button" size="30">Confirmar cambios</button><br>
		
	</div>
</body>
</html>
