<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/perfil.css}" href="../static/css/perfil.css" type="text/css"/>
</head>
<head th:replace="menu.html :: head"></head>
<body>
	<nav th:replace="menu.html :: body"></nav>
	<div class="container">
		<img src="../img/person.jpg" class="avatar">
		<div class="infoBoxUp">
				<div class="name"><p>Alejandro Villar Rubio</p></div>
		</div>
		<div class="infoBoxDown">
				
		</div>
	</div>
</body>
</html>
