<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Firefighter space</title>
	<link rel="stylesheet" th:href="@{/css/perfil.css}" href="../static/css/perfil.css" type="text/css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<head th:replace="/fragments/toolbar.html :: head"></head>
<body>
	<nav th:replace="/fragments/toolbar.html :: body"></nav>
	<div class="cardBox">
		<div class="card">
			<div class="perfil">
				<img src="../img/person.jpg">
				<ul>
					<li>
						<h2 th:text="${user.login}">usuario</h2>
					</li>
					<li>
						<h2 th:text="${user.password}">contraseña</h2>
					</li>
				</ul>
			</div>
			<ul class="infoBottom">
				<li>
					<span><i class="fa fa-fire" aria-hidden="true"></i></span>
					<span>Un rango</span>
				</li>
				<li>
					<span><i class="fa fa-truck" aria-hidden="true"></i></span>
					<span>Si</span>
				</li>
				<li>
					<span><i class="fa fa-phone" aria-hidden="true"></i></span>
					<span>+34 902 458 329</span>
				</li>
				<li>
					<span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
					<span>foo@gmail.es</span>
				</li>
				<li>
					<span><i class="fa fa-home" aria-hidden="true"></i></span>
					<span>C/Alberto Verdejo, 1</span>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
